* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: white;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  line-height: 5rem;
  border: 1px solid black;
  margin: 10px auto;
  max-width: 400px;
  padding: 10px;
  background-color: rgb(7, 125, 7);
}

.header-el {
  color: gold;
  font-size: 3rem;
}

button {
  margin: 1px auto;
  background-color: gold;
  width: 200px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: rgb(7, 125, 7);
  font-weight: 900;
}
